body {
  margin: 0;
  padding: 0%;
  background-image: url("/img/Sakura_Nene_CPP.jpg");
  background: cover;
}

h1 {
  color: rgb(255, 0, 140);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0;
  font-size: 4em;
  margin-top: 300px;
}
h2 {
  color: rgb(255, 127, 187);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 3em;

  margin-top: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@font-face {
  font-family: "Vooterzz";
  src: url("/fonts/Vooterzz.woff") format("woff"),
    url("/fonts/Booterzz2.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
